{% extends 'base.html' %}
{% block content %}
    <table>
        <tr>
            <td style="vertical-align: top; padding: 20px">
                <img src="{{ user.avatar(128) }}" alt="My Avatar">
            </td>
            <td style="vertical-align: top; padding: 20px">
                <h1>User: {{ user.username | capitalize }}</h1><br>
                {% if user.about_me %}
                    <p><b>About Me:</b> {{ user.about_me }}</p>
                {% endif %}
                {% if user.last_seen %}
                    <p><b>Last seen:</b> {{ user.last_seen }}</p>
                {% endif %}
                <p>{{ user.followers.count() }} followers, {{ user.followed.count() }} following.</p>
                <br>
                {% if user == current_user %}
                    <a href="{{ url_for('edit_profile') }}">Edit your profile</a>
                {% elif not current_user.is_following(user) %}
                    <p>
                        <form action="{{ url_for('follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Follow') }}
                        </form>
                    </p>
                {% else %}
                    <p>
                        <form action="{{ url_for('unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value='Unfollow') }}
                        </form>
                    </p>
                {% endif %}
            </td>
        </tr>
    </table>
    <hr>
    {% for post in posts %}
        {% include "_post.html" %}
    {% endfor %}
{% endblock %}